<nav class="flex-row place-content-start p-4">
    <label class="pointer-coarse:p-4">
        <input type="radio" aria-label="Full Corpus" class="btn btn-xs" />
    </label>  
    <label class="pointer-coarse:p-4">
        <input type="radio" aria-label="Design Space" class="btn btn-xs" />
    </label>  
    <label class="pointer-coarse:p-4">
        <input type="radio" aria-label="Full Article" class="btn btn-xs" />
    </label>  
    <label class="pointer-coarse:p-4">
        <input type="radio" aria-label="Dataset" class="btn btn-xs" />
    </label>  
</nav>