<nav class="navbar bg-base-100">
    <div class="flex-1">
      <h3 class="btn btn-ghost text-xl">Octopus Map Project.</h3>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Home</a></li>
        <li>
          <details>
            <summary>
              Findings
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a>Corpus</a></li>
              <li><a>Conceptual Metaphor</a></li>
              <li><a>Rhetorical Strategies</a></li>
              <li><a>Full Article</a></li>
            </ul>
          </details>
        </li>
        <li><a>About</a></li>
      </ul>
    </div>
</nav>