@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss";

@theme {

    /* The mobile font size */
    --text-h1-m: 32.44px;
    --text-h2-m: 28.83px;
    --text-h3-m: 25.63px;
    --text-h4-m: 22.78px;
    --text-h5-m: 20.25px;
    --text-h6-m: 18px;
    --text-small-m: 14.22px;
    --text-extra-small-m: 12.64px;
    --text-label-l-m: 19.2px;
    --text-label-m-m: 16px;
    --text-label-s-m: 14.05px;

    /* The mobile font size */
    --text-h1-d: 47.48px;
    --text-h2-d: 39.81px;
    --text-h3-d: 33.2px;
    --text-h4-d: 27.65px;
    --text-h5-d: 23.04px;
    --text-h6-d: 19.2px;
    --text-small-d: 13.33px;
    --text-extra-small-d: 11.11px;
    --text-label-l-d: 19.2px;
    --text-label-m-d: 16px;
    --text-label-s-d: 13.33px;
    
    /* The color palette */

    --color-battleship-grey: #818D92;
    --color-flame: #EE5622;
    --color-night: #131515;
    --color-flora-white: #FAF8EF;
    --color-cambridge-blue: #8AA29E;
    --color-tan: #CDAD8E;
    --color-timberwold: #D6D5C9;
    --color-platinum: #D9D9D9;
}

@layer base {

    /* Mobile Stylesheet */
    h1-m {
        font-family:'Abril Fatface';
        font-size: var(--text-h1-m);
    }

    h2-m {
        font-family:'Abril Fatface';
        font-size: var(--text-h2-m);
    }

    h3-m {
        font-family:'Abril Fatface';
        font-size: var(--text-h3-m);
    }

    h4-m {
        font-family:'poppins';
        font-size: var(--text-h4-m);
        font-weight:700;
    }

    h5-m {
        font-family:'Poppins';
        font-size: var(--text-h5-m);
        font-weight:600;
    }

    h6-m {
        font-family:'Poppins';
        font-size: var(--text-h6-m);
        font-weight:600;
    }

    p {
        font-family:'poppins';
    }
    
    small-m {
        font-family:'Poppins';
        font-size: var(--text-small-m);
    }

    extra-small-m {
        font-family:'Poppins';
        font-size: var(--text-small-m);
        color: var(--color-neutral-800);
    }

    label-large-m {
        font-family:'Poppins';
        font-size: var(--text-label-l-m);
        color: var(--color-neutral-800);
        font-weight:700;
    }

    label-medium-m {
        font-family:'Poppins';
        font-size: var(--text-label-m-m);
        color: var(--color-neutral-800);
        font-weight:700;
    }

    label-small-m {
        font-family:'Poppins';
        font-size: var(--text-label-s-m);
        color: var(--color-neutral-800);
        font-weight:600;
    }

    /* Desktop Stylesheet */
    h1-d {
        font-family:'Abril Fatface';
        font-size: var(--text-h1-d);
    }

    h2-d {
        font-family:'Abril Fatface';
        font-size: var(--text-h2-d);
    }

    h3-d {
        font-family:'Abril Fatface';
        font-size: var(--text-h3-d);
    }

    h4-d {
        font-family:'poppins';
        font-size: var(--text-h4-d);
        font-weight:600;
    }

    h5-d {
        font-family:'Poppins';
        font-size: var(--text-h5-d);
        font-weight:600;
    }

    h6-d {
        font-family:'Poppins';
        font-size: var(--text-h6-d);
        font-weight:500;
    }
    
    small-d {
        font-family:'Poppins';
        font-size: var(--text-small-d);
    }

    extra-small-d {
        font-family:'Poppins';
        font-size: var(--text-small-d);
        color: var(--color-neutral-800);
    }

    label-large-d {
        font-family:'Poppins';
        font-size: var(--text-label-l-d);
        color: var(--color-neutral-800);
        font-weight:700;
    }

    label-medium-d {
        font-family:'Poppins';
        font-size: var(--text-label-m-d);
        color: var(--color-neutral-800);
        font-weight:700;
    }

    label-small-d {
        font-family:'Poppins';
        font-size: var(--text-label-s-d);
        color: var(--color-neutral-800);
        font-weight:500;
    }

    body {
        background-color:floralwhite;
    }

}

@layer components {
    .hero {
        box-sizing:content-box;
        aspect-ratio: 3/2;
        width: var(--container-md);
        height:var(--container-md);
        background-size: cover;
        border-radius: var(--radius-3xl);
    }

    .section-bg {
        box-sizing:border-box;
        width:100dvw;
        height:auto;
        background-size:cover;
        padding-inline: calc(var(--spacing) * 40);
        padding-block: calc(var(--spacing) * 16);
        margin-block: calc(var(--spacing) * 16);
    }

    .section-card {
        box-sizing:border-box;
        padding: calc(var(--spacing) * 24);
        background-color: var(--color-flora-white,0.8);
        size:fit-content;
        box-shadow: var(--shadow-xl);
    }

    .card {
      background-color: var(--color-white);
      border-radius: var(--rounded-lg);
      padding: var(--spacing-6);
      box-shadow: var(--shadow-xl);
    }
}
